################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Updating-Child-Task-With-Story-Details-WebAPI/.vs/Updating-Child-Task-With-Story-Details-WebAPI/v16
